
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');
#text-anim{
font-family: 'Merriweather', serif;
}
#text-anim{
  
  color: white;
}
.ityped{
  color: Gold;
}
